* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-cadastro {
    background-color: #000000;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.header-cadastro span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 6rem;
}

.header-cadastro nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-right: 6rem;
    font-weight: 400;
}

.header-cadastro .lista-hover:hover {
    border-bottom: 2px solid #FFFFFF;
    -webkit-transition: 0.5ms ease-in;
    -moz-transition: 0.5ms ease-in;
    -o-transition: 0.5ms ease-in;
    transition: 0.5ms ease-in;
}

.header-cadastro .topnav {
    display: none;
}

.header-cadastro a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-cadastro .lista-cadastro {
    padding-bottom: 10px;
}

.header-cadastro .menu-suspenso ul {
    margin-top: 5px;
}

.header-cadastro .menu-suspenso ul li:hover {
    background-color: #D3D3D3;
    border-radius: 0 0 5px 5px;
    width: 96px;
    transition: 0.3s;
}

.header-cadastro .menu-suspenso ul li a:hover {
    color: #000000;
    font-weight: 700;
}

.header-cadastro nav ul ul {
    display: none;
    position: absolute;
    border-radius: 0 0 5px 5px;
    background-color: #808080;
    width: 80px;
    box-shadow:
    0px 2.8px 2.8px rgba(0, 0, 0, 0.028),
    0px 6.7px 6.7px rgba(0, 0, 0, 0.04),
    0px 12.5px 12.5px rgba(0, 0, 0, 0.05),
    0px 22.3px 22.3px rgba(0, 0, 0, 0.06),
    0px 41.8px 41.8px rgba(0, 0, 0, 0.072),
    0px 100px 100px rgba(0, 0, 0, 0.1)
    ;
}

.header-cadastro nav ul ul li {
    padding: 10px;
}

.header-cadastro nav ul ul li a{
    color: #FFFFFF;
}

.header-cadastro nav ul li:hover ul {
    display: block;
}

.header-cadastro nav ul .active {
    font-weight: 700;
}