* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-login {
    background-color: #000000;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.header-login span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 6rem;
}

.header-login nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-right: 6rem;
    font-weight: 400;
}

.header-login .topnav {
    display: none;
}

.header-login a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-login .lista-login {
    padding-bottom: 10px;
}

.header-login .menu-suspenso ul {
    margin-top: 5px;
}

.header-login .menu-suspenso ul li:hover {
    background-color: #D3D3D3;
    border-radius: 0 0 5px 5px;
    width: 96px;
    transition: 0.3s;
}

.header-login nav ul ul {
    display: none;
    position: absolute;
    border-radius: 0 0 5px 5px;
    background-color: #808080;
    width: 80px;
    box-shadow:
    0px 2.8px 2.8px rgba(0, 0, 0, 0.028),
    0px 6.7px 6.7px rgba(0, 0, 0, 0.04),
    0px 12.5px 12.5px rgba(0, 0, 0, 0.05),
    0px 22.3px 22.3px rgba(0, 0, 0, 0.06),
    0px 41.8px 41.8px rgba(0, 0, 0, 0.072),
    0px 100px 100px rgba(0, 0, 0, 0.1)
    ;
}

.header-login nav ul ul li {
    padding: 10px;
}

.header-login nav ul ul li a{
    color: #FFFFFF;
}

.header-login nav ul li:hover ul {
    display: block;
}

.header-login nav ul .active {
    font-weight: 700;
}